SECRET_KEY='django-insecure-_tigpg!^6j-6zw&spj4!&^pzw6=pj$-+ko(m849^tv7*p68%id'
DEBUG=True
ALLOWED_HOSTS=localhost,127.0.0.1
CORS_ALLOWED_ORIGINS=http://localhost:3000,http://127.0.0.1:3000
DATABASE_URL=sqlite:///db.sqlite3
